/*
#############
Home.css
#############
*/
.jumbotron.full{
    background: #49a04f url("https://bunnbuns.net/background.jpg") no-repeat center;
    background-size: cover;
    text-shadow: -1px 1px 12px rgba(0,0,0,0.75);
}
.big-boi{
    height: 100vh;
    width:100%;
    background: #65b96b url('https://bunnbuns.net/background-profile-2.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    color: white;
}
.big-boi .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.big-boi .bottom-icon{
    height: 48px;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: -webkit-calc(50% - 24px);
    left: calc(50% - 24px);
}
.big-boi .bottom-icon i{
    font-size: 26px;
    color: rgba(255,255,255,0.65);
}
.main-hello .pfp{
    box-shadow: -1px 1px 8px rgba(0,0,0,0.66);
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #7dc482;
    margin-right: 8px;
    margin-bottom: 1rem;
}
.main-hello .info{
    text-shadow: -1px 1px 12px rgba(0,0,0,0.75);
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.main-hello .info .text{
    display: inline-block;
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}
.main-hello .info .sub-text{
    text-align: left;
    font-size: 1rem;
}
.main-hello .social{
    margin:.5rem 0 0 0;
}
.main-hello a{
    color: white;
}
.main-hello .btn{
    display: inline-block;
    text-shadow: -1px 1px 8px rgba(0,0,0,0.66);
    margin:4px 4px;
    transition: all 0.2s;
}
.main-hello .btn:hover{
    text-shadow: -1px 1px 11px rgba(0,0,0,0.75);
}
.main-hello .btn.gh:hover{
    color: #171515;
}
.main-hello .btn.yt:hover{
    color: #ff0000;
}
.main-hello .btn.ig:hover{
    color: #ed4a55;
}
.main-hello .btn.kb:hover{
    color: #4c8eff;
}
.main-hello .btn.li:hover{
    color: #0073b1;
}
.main-hello .btn.sp:hover{
    color: #1db954;
}
.main-hello .btn.dc:hover{
    color: #7289da;
}
.main-hello .btn.tw:hover{
    color: #1da1f2;
}
.main-hello .btn.md:hover{
    color: #3088d4;
}
.main-hello .btn.cp:hover{
    color: #0a0a08;
}
.main-hello .btn.sc:hover{
    color: #ff8800;
}
.main-hello .btn.pz:hover{
    color: #1862ab;
    text-shadow: -1px 1px 11px rgba(93, 93, 93, 0.85);
}
.main-hello .btn.st:hover{
    color: #f59c42;
}
.main-hello .btn.sb:hover{
    color: #49b9ca;
}
.main-hello .btn i{
    font-size: 2.75rem;
}
.main-hello .at{
    color:rgba(255, 255, 255, 0.9);
    text-shadow: -1px 1px 8px rgba(0,0,0,0.66);
    font-size: 1.2rem;
    margin: 1rem 0 .25rem 0;
}
.main-hello .socials-more{
    display: inline-block;
    margin-top: .25rem;
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;
    cursor: pointer;
}


/*
Mobile stuff
*/
