/*
#############
Home.css
#############
*/
.jumbotron.full{
    background: #49a04f url("https://bunnbuns.net/background.jpg") no-repeat center;
    background-size: cover;
    text-shadow: -1px 1px 12px rgba(0,0,0,0.75);
}
.main-hello{
    height: 100vh;
    width:100%;
    background: #65b96b url('https://bunnbuns.net/background-profile-2.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    color: white;
}
.main-hello .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main-hello .bottom-icon{
    height: 48px;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: -webkit-calc(50% - 24px);
    left: calc(50% - 24px);
}
.main-hello .bottom-icon i{
    font-size: 28px;
    color: rgba(255,255,255,0.45);
}
.main-hello .pfp{
    box-shadow: -1px 1px 8px rgba(0,0,0,0.66);
    display: inline-block;
    vertical-align: middle;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7dc482;
    margin-right: 8px;
    margin-bottom: 1rem;
}
.main-hello .info{
    text-shadow: -1px 1px 12px rgba(0,0,0,0.75);
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.main-hello .info .text{
    display: inline-block;
    text-align: left;
    font-size: 2.85rem;
    font-weight: bold;
}
.main-hello .info .sub-text{
    text-align: left;
    font-size: 1.35rem;
}
.main-hello h1,.main-hello h2{
    margin-bottom: .25rem;
}
.main-hello .social{
    margin-top: .25rem;
}
.main-hello a{
    color: white;
}
.main-hello .btn{
    display: inline-block;
    text-shadow: -1px 1px 8px rgba(0,0,0,0.66);
    font-size: 1.125rem;
    margin:4px 4px;
    transition: all 0.2s;
}
.main-hello .btn:hover{
    text-shadow: -1px 1px 11px rgba(0,0,0,0.75);
}
.main-hello .btn.gh:hover,.main-hello .btn.gh:focus{
    color: #171515;
}
.main-hello .btn.yt:hover,.main-hello .btn.yt:focus{
    color: #ff0000;
}
.main-hello .btn.ig:hover,.main-hello .btn.ig:focus{
    color: #ed4a55;
}
.main-hello .btn.kb:hover,.main-hello .btn.kb:focus{
    color: #4c8eff;
}
.main-hello .btn.li:hover,.main-hello .btn.li:focus{
    color: #0073b1;
}
.main-hello .btn.sp:hover,.main-hello .btn.sp:focus{
    color: #1db954;
}
.main-hello .btn.dc:hover,.main-hello .btn.dc:focus{
    color: #7289da;
}
.main-hello .btn.tw:hover,.main-hello .btn.tw:focus{
    color: #1da1f2;
}
.main-hello .btn.md:hover,.main-hello .btn.md:focus{
    color: #3088d4;
}
.main-hello .btn.cp:hover,.main-hello .btn.cp:focus{
    color: #0a0a08;
}
.main-hello .btn.sc:hover,.main-hello .btn.sc:focus{
    color: #ff8800;
}
.main-hello .btn.pz:hover,.main-hello .btn.pz:focus{
    color: #1862ab;
    text-shadow: -1px 1px 11px rgba(93, 93, 93, 0.85);
}
.main-hello .btn.st:hover,.main-hello .btn.st:focus{
    color: #f59c42;
}
.main-hello .btn.sb:hover,.main-hello .btn.sb:focus{
    color: #49b9ca;
}
.main-hello .btn i{
    font-size: 3rem;
}
.main-hello .at{
    color:rgba(255, 255, 255, 0.9);
    text-shadow: -1px 1px 8px rgba(0,0,0,0.66);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}
.main-hello .socials-more{
    display: inline-block;
    margin-top: .25rem;
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;
    cursor: pointer;
}


/*
Mobile stuff
*/
