/*
#############
Style.css
#############
*/
*{
    font-family: sans-serif;
}
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
img{
   max-width: 100%; 
}
.h1, h1{
    font-size: 2.5rem;
}
.h2, h2{
    font-size: 2rem;
}
.h3, h3{
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: .5rem;
}
button, .button{
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
}
.full-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* margins & stuff */
p{
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
.text-white{
    color:white;
}
.margin-auto{
    margin:auto;
}
.mt-small{
    margin-top: .5rem;
}
.mt{
    margin-top: 1rem;
}
.mt-large{
    margin-top: 2rem;
}
.mb-small{
    margin-bottom: .5rem;
}
.mb{
    margin-bottom: .5rem;
}
.mb-large{
    margin-bottom: 2rem;
}
.inline-b{
    display: inline-block;
}
.block{
    display: block;
}
.vam{
    vertical-align: middle;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right
}
.text-center{
    text-align: center!important;
}
/* buttons */
.button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    font-size: 1.15rem;
    padding-bottom: 0.375em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.375em;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    margin-bottom: 6px;
    margin-right: 2px;
    margin-left: 2px;
    font-weight: 500;
}
a.button{
    color: #212529;
}
.button.small{
    font-size: 1rem;
    font-weight: 400;
}
.button.big{
    font-size: 1.35rem;
}
/* colors */
.jumbotron.green{
    background: rgb(73,172,77);
    background: -moz-linear-gradient(155deg, rgba(73,172,77,1) 0%, rgba(67,159,71,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(73,172,77,1) 0%, rgba(67,159,71,1) 100%);
    background: linear-gradient(155deg, rgba(73,172,77,1) 0%, rgba(67,159,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#49ac4d",endColorstr="#439f47",GradientType=1);
    color: white;
}
.jumbotron.light-green{
    background: rgb(204,255,206);
    background: -moz-linear-gradient(155deg, rgba(204,255,206,1) 0%, rgba(164,236,166,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(204,255,206,1) 0%, rgba(164,236,166,1) 100%);
    background: linear-gradient(155deg, rgba(204,255,206,1) 0%, rgba(164,236,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccffce",endColorstr="#a4eca6",GradientType=1);
    color: #212529;
}
.jumbotron.dark-green{
    background: rgb(36,124,40);
    background: -moz-linear-gradient(155deg, rgba(36,124,40,1) 0%, rgba(20,101,24,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(36,124,40,1) 0%, rgba(20,101,24,1) 100%);
    background: linear-gradient(155deg, rgba(36,124,40,1) 0%, rgba(20,101,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#247c28",endColorstr="#146518",GradientType=1);
    color: white;
}
.jumbotron.blue{
    background: rgb(86,119,255);
    background: -moz-linear-gradient(155deg, rgba(86,119,255,1) 0%, rgba(76,107,233,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(86,119,255,1) 0%, rgba(76,107,233,1) 100%);
    background: linear-gradient(155deg, rgba(86,119,255,1) 0%, rgba(76,107,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5677ff",endColorstr="#4c6be9",GradientType=1);
    color: white;
}
.jumbotron.light-blue{
    background: rgb(205,216,255);
    background: -moz-linear-gradient(155deg, rgba(205,216,255,1) 0%, rgba(183,197,244,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(205,216,255,1) 0%, rgba(183,197,244,1) 100%);
    background: linear-gradient(155deg, rgba(205,216,255,1) 0%, rgba(183,197,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdd8ff",endColorstr="#b7c5f4",GradientType=1);
    color: #212529;
}
.jumbotron.dark-blue{
    background: rgb(61,86,185);
    background: -moz-linear-gradient(155deg, rgba(61,86,185,1) 0%, rgba(35,60,156,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(61,86,185,1) 0%, rgba(35,60,156,1) 100%);
    background: linear-gradient(155deg, rgba(61,86,185,1) 0%, rgba(35,60,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d56b9",endColorstr="#233c9c",GradientType=1);
    color: white;
}
/* buttons */
.button{
    background-color: #dde2f5;
    box-shadow: none;
    transition: all 0.2s;
}
.button:hover{
    background-color: #e7ecfd;
    box-shadow: 0px 0px 4px rgba(231, 236, 253, .25);
}
.button:active, .button:focus{
    background-color: rgb(231, 236, 253);
    box-shadow: 0px 0px 5px rgba(231, 236, 253, .4);
}
/* button outline */
.button.outline{
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    background-color: transparent;
    color: #212529;
}
.button.outline:hover,.button.outline{
    background-color: transparent;
    color: #212529;
}
/* more */
.page{
    min-height: 100vh;
}
.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e6e6e6;
}


/*
Mobile stuff
*/
.margin-box{
    margin:0 8rem;
}
@media only screen and (max-width: 1100px) {
    .margin-box{
        margin:0 7rem;
    }
}
@media only screen and (max-width: 1020px) {
    .margin-box{
        margin:0 6rem;
    }
}
@media only screen and (max-width: 950px) {
    .margin-box{
        margin:0 5rem;
    }
}
@media only screen and (max-width: 800px) {
    .margin-box{
        margin:0 3.5rem;
    }
}
@media only screen and (max-width: 750px) {
    .margin-box{
        margin:0 3rem;
    }
}
@media only screen and (max-width: 700px) {
    .margin-box{
        margin:0 2rem;
    }
}
@media only screen and (max-width: 640px) {
    .margin-box{
        margin:0 1.5rem;
    }
}
@media only screen and (max-width: 545px) {
    .margin-box{
        margin:0;
    }
}