/*
#############
Style.css
#############
*/
*{
    font-family: sans-serif;
}
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
img{
   max-width: 100%; 
}
.h1, h1{
    font-size: 2.5rem;
}
.h2, h2{
    font-size: 2rem;
}
.h3, h3{
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: .5rem;
}
button, .button{
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* margins & stuff */
p{
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-white{
    color:white;
}
.margin-auto{
    margin:auto;
}
.mt-small{
    margin-top: .5rem;
}
.mt{
    margin-top: 1rem;
}
.mt-large{
    margin-top: 2rem;
}
.mb-small{
    margin-bottom: .5rem;
}
.mb{
    margin-bottom: .5rem;
}
.mb-large{
    margin-bottom: 2rem;
}
.inline-b{
    display: inline-block;
}
.block{
    display: block;
}
.vam{
    vertical-align: middle;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right
}
.text-center{
    text-align: center!important;
}
/* buttons */
.button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    font-size: 1.15rem;
    padding-bottom: 0.375em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.375em;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    margin-bottom: 6px;
}
a.button{
    color: #212529;
}
.button.small{
    font-size: 1rem;
}
.button{
    background-color: #e3e3e3;
}
.button:hover{
    background-color: #d9d9d9;
}
.button.light-green, .jumbotron.light-green{
    background-color: #c5ffc7;
}
.button.light-green:hover{
    background-color: #b7f0b9;
}
.button.green, .jumbotron.green{
    background-color: #49ac4d;
    color: white;
}
.button.green:hover{
    background-color: #439f47;
    color: white;
}
.button.dark-green, .jumbotron.dark-green{
    background-color: #247c28;
    color: white;
}
.button.dark-green:hover{
    background-color: #1f7123;
    color: white;
}
.button.blue, .jumbotron.blue{
    background-color: #3b61ff;
    color: white;
}
.button.blue:hover{
    background-color: #3256ea;
    color: white;
}
.button.light-blue, .jumbotron.light-blue{
    background-color: #a6b8ff;
}
.button.light-blue:hover{
    background-color: #9caef2;
}
.button.dark-blue, .jumbotron.dark-blue{
    background-color: #3d56b9;
    color: white;
}
.button.dark-blue:hover{
    background-color: #374faa;
    color: white;
}
.button.red, .jumbotron.red{
    background-color: #ff4141;
    color: white;
}
.button.red:hover{
    background-color: #d93c3c;
    color: white;
}
.button.big{
    font-size: 1.35rem;
}
/* more */
.page{
    min-height: 100vh;
}
.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e6e6e6;
}


/*
Mobile stuff
*/
.margin{
    margin:0 8rem;
}
@media only screen and (max-width: 1100px) {
    .margin{
        margin:0 7rem;
    }
}
@media only screen and (max-width: 1020px) {
    .margin{
        margin:0 6rem;
    }
}
@media only screen and (max-width: 950px) {
    .margin{
        margin:0 5rem;
    }
}
@media only screen and (max-width: 800px) {
    .margin{
        margin:0 3.5rem;
    }
}
@media only screen and (max-width: 750px) {
    .margin{
        margin:0 3rem;
    }
}
@media only screen and (max-width: 700px) {
    .margin{
        margin:0 2rem;
    }
}
@media only screen and (max-width: 640px) {
    .margin{
        margin:0 1.5rem;
    }
}
@media only screen and (max-width: 545px) {
    .margin{
        margin:0;
    }
}